{% load static %}
{% block content %}
    <div id="messages" hx-swap-oob="true">
        {% include 'partials/toast.html' %}
    </div>

    <div class="overflow-hidden"> <!-- wrapper -->
        <div class="lg:flex justify-between items-baseline">
            <div id="tabs-to-be-wrapped" class="tabs tabs-boxed pb-4">
                <a href="{% url "database" %}" hx-get="{% url "database" %}" hx-push-url="true" hx-target="#div-table"
                   hx-swap="outerHTML"
                   hx-select="#div-table" hx-trigger="reload from:body, click"
                   class="tab sm:tab-lg text-base{% if '/register_data/' in request.path %} tab-active {% endif %}">General</a>
                <a href="{% url "owner" %}" hx-get="{% url "owner" %}" hx-push-url="true" hx-target="#div-table"
                   hx-swap="outerHTML"
                   hx-select="#div-table"
                   class="tab sm:tab-lg text-base{% if '/owner/' in request.path %} tab-active {% endif %}">Owner</a>
                <a href="{% url "cars" %}" hx-get="{% url "cars" %}" hx-push-url="true" hx-target="#div-table"
                   hx-swap="outerHTML"
                   hx-select="#div-table"
                   class="tab sm:tab-lg text-base{% if '/cars/' in request.path %} tab-active {% endif %}">Car</a>
            </div>
            <form id="searchbar-to-be-wrapped" hx-get hx-push-url="true" hx-target="#div-table" hx-swap="outerHTML" hx-select="#div-table">
                <div class="form-control">
                    <div class="input-group">
                        <input name="search" type="text" placeholder="Search…" class="input input-bordered w-80 mb-4"/>
                        <button class="btn btn-square">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>

            <div class="mb-4">
                <span class="label-text mr-2">Filter</span>
                <select class="select select-bordered" name="sort" hx-get hx-push-url="true" hx-target="#div-table"
                        hx-swap="outerHTML" hx-select="#div-table">
                    <option selected>All</option>
                    <option value="month">Registered last month</option>
                    <option value="quarter">Registered last quarter</option>
                    <option value="year">Registered last year</option>
                    <option value="expire">Expiring this month</option>
                </select>
            </div>
        </div>
        <div id="div-table">
            {% block table %}{% endblock %}
        </div>
    </div>
    <script src="{% static 'js/database.js' %}"></script>

{% endblock %}
