{% load static %}
<title id="title" hx-swap-oob="true">RegistryTotal</title>

{% block content %}
    <div id="messages" hx-swap-oob="true">
        {% include 'partials/toast.html' %}
    </div>
    <div class="mt-2"> <!-- wrapper -->
        <div class="md:grid grid-cols-12 gap-3"> <!-- grid wrapper -->
            <div class="col-span-3">
                <div class="card bg-base-100 h-fit">
                    <div class="card-body">
                        <div class="flex justify-between md:block">
                            <h2 class="card-title">Welcome, {{ user.username }}</h2>

                            <div class="card-actions md:mt-5">
                                {% if not user.is_superuser %}
                                    <button class="btn btn-primary" href="{% url 'register-certificate' %}"
                                            hx-get="{% url 'register-certificate' %}" hx-push-url="true"
                                            hx-target="#main-content"
                                            hx-swap="innerHTML">Register new car
                                    </button>
                                {% endif %}
                                {% if user.is_superuser %}
                                    <!-- The button to open modal -->
                                    <label for="my-modal-3" class="btn btn-primary" hx-get="{% url 'upload' %}"
                                           hx-target="#modal-content" hx-swap="innerHTML" hx-trigger="click"
                                           hx-push-url="true">Upload</label>
                                    <!-- Modal content -->
                                    <input type="checkbox" id="my-modal-3" class="modal-toggle"/>
                                    <div class="modal">
                                        <div class="modal-box relative" id="modal-content">
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card bg-base-100 h-fit md:h-80 my-10">
                    <div class="card-body">
                        <h2 class="card-title">Optional card</h2>

                        {#                        <div class="card-actions mt-10">#}
                        {##}
                        {#                        </div>#}
                    </div>
                </div>
            </div>

            <div class="col-span-6 mx-5 mb-10 md:mb-0">
                <div id="loading"
                     class="absolute opacity-70 left-1/2 bottom-1/2 place-items-center h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
                     role="status">
                </div>
                <script src="{% static 'js/loading.js' %}"></script>

                <div class="pb-5 h-1/2">
                    <canvas id="myChart2" height="240"></canvas>
                </div>

                <div class="pt-5 h-1/2">
                    <canvas id="myChart1" height="240"></canvas>
                </div>
            </div>

            <div class="col-span-3">
                <div class="card bg-base-100 h-1/2 overflow-y-auto">
                    <div class="card-body">
                        <h2 class="card-title">
                            <a class="link link-hover" href="database/register_data/?sort=expire"
                               hx-get="database/register_data/?sort=expire" hx-push-url="true" hx-target="#main-content"
                               hx-swap="innerHTML">Certificates expiring
                                this month</a></h2>
                        <table class="table w-full table-compact md:table-normal">
                            <thead>
                            <tr class="text-neutral-content">
                                <th class="bg-base-300 text-base-content">Owner</th>
                                <th class="bg-base-300 text-base-content">LP</th>
                            </tr>
                            </thead>
                            <tbody class="overflow-auto">
                            {% for car in list_expired|slice:5 %}
                                <tr class="hover">
                                    <td>{{ car.owner.name }}</td>

                                    <td>
                                        <div>
                                            <div class="font-bold">{{ car.license_plate.license_plate }}</div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div class="card bg-base-100 h-1/2 overflow-y-auto mt-10 z-10">
                    <div class="card-body">
                        <h2 class="card-title"><a class="link link-hover" href="database/register_data/?sort=month"
                                                  hx-get="database/register_data/?sort=month" hx-push-url="true"
                                                  hx-target="#main-content" hx-swap="innerHTML">Cars registered this
                            month</a></h2>
                        <table class="table w-full table-compact md:table-normal">
                            <thead>
                            <tr class="text-neutral-content">
                                <th class="bg-base-300 text-base-content">Owner</th>
                                <th class="bg-base-300 text-base-content">LP</th>
                            </tr>
                            </thead>
                            <tbody class="overflow-auto">
                            {% for car in list_register|slice:5 %}
                                <tr class="hover">
                                    <td>{{ car.owner.name }}</td>

                                    <td>
                                        <div>
                                            <div class="font-bold">{{ car.license_plate.license_plate }}</div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}