{% extends "database.html" %}

{% block title %}Car{% endblock %}

{% load pagination_tags %}

{% block table %}
    <div class="overflow-auto">
        <table class="table table-compact w-full overflow-auto">
            <thead>
            <tr>
                <th class="bg-base-300 text-base-content">Make</th>
                <th class="bg-base-300 text-base-content">Model</th>
                <th class="bg-base-300 text-base-content">Generation</th>
                <th class="bg-base-300 text-base-content">Body Type</th>
                <th class="bg-base-300 text-base-content w-40"></th>
            </tr>
            </thead>
            <tbody>
            {% for car in page_obj %}
                <tr class="hover">
                    <td>{{ car.make }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.generation }} - {{ car.year_from }}</td>
                    <td>{{ car.body_type }}</td>
                    <td>
                        <!-- The button to open modal -->
                        <label for="my-modal-3" class="btn" hx-get="{% url 'car_detail' car.id %}"
                               hx-target="#modal-content" hx-swap="innerHTML" hx-trigger="click"
                               hx-push-url="true">View</label>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-10">
        <div class="pagination">
            <div class="step-links btn-group">
                {% if page_obj.has_previous %}
                    <a class="btn" hx-get="?{% url_replace request 'page' 1 %}" hx-push-url="true"
                       hx-target="#main-content" hx-swap="innerHTML">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5"/>
                        </svg>

                    </a>
                    <a class="btn" hx-get="?{% url_replace request 'page' page_obj.previous_page_number %}"
                       hx-push-url="true" hx-target="#main-content" hx-swap="innerHTML">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"/>
                        </svg>
                    </a>
                {% else %}
                    <button class="btn" disabled>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5"/>
                        </svg>
                    </button>
                    <button class="btn" disabled>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"/>
                        </svg>
                    </button>
                {% endif %}

                <button class="btn btn-active">
                    <span class="hidden md:block">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    <span class="md:hidden w-6">{{ page_obj.number }}</span>
                </button>

                {% if page_obj.has_next %}
                    <a class="btn" hx-get="?{% url_replace request 'page' page_obj.next_page_number %}"
                       hx-push-url="true" hx-target="#main-content" hx-swap="innerHTML">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
                        </svg>
                    </a>
                    <a class="btn" hx-get="?{% url_replace request 'page' page_obj.paginator.num_pages %}"
                       hx-push-url="true" hx-target="#main-content" hx-swap="innerHTML">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"/>
                        </svg>
                    </a>
                {% else %}
                    <button class="btn" disabled>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
                        </svg>
                    </button>
                    <button class="btn" disabled>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"/>
                        </svg>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Modal content -->
    <input type="checkbox" id="my-modal-3" class="modal-toggle"/>
    <div class="modal">
        <div class="modal-box relative" id="modal-content">
        </div>
    </div>
{% endblock %}
