{% extends "database.html" %}

{% block title %}Car{% endblock %}

{% block table %}
<table class="table w-full">
    <thead>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Body Type</th>
        <th class="w-40"></th>
    </tr>
    </thead>
    <tbody>
    {% for car in page_obj %}
        <tr class="hover">
            <td>{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.year_from }}</td>
            <td>{{ car.body_type }}</td>
            <td><a href="{% url 'car_detail' car.id %}" class="btn btn-ghost btn-xs">View</a></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
