<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table>
<thead>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Generation</th>
        <th>Body Type</th>
        <th>Year</th>
        <th>Engine Type</th>
        <th>Transmission</th>
        <th>Fuel Tank Capacity</th>
        <th>Engine HP</th>
    </tr>
</thead>
<tbody>
    {% for car in cars %}
    <tr>
        <th>{{ car.make }}</th>
        <th>{{ car.model }}</th>
        <th>{{ car.generation }}</th>
        <th>{{car.body_type }}</th>
        <th>{{car.year_from }}</th>
        <th>{{car.engine_type }}</th>
        <th>{{car.transmission }}</th>
        <th>{{car.fuel_tank_capacity_l }}</th>
        <th>{{car.engine_hp }}</th>
    </tr>
    {% endfor %}
</table>
</body>
</html>