<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Owner</th>
        <th>License Plate</th>
        <th>Model</th>
        <th>Certificate Date</th>
        <th>Expiry Date</th>
    </tr>
    </thead>
    <tbody>
    {% for car in cars|slice:":10"%}
        <tr>
            <td><a href="{% url 'display' %}">{{ car.owner.name }}</a></td>
            <td>{{ car.license_plate.license_plate }}</td>
            <td><a href="{% url 'display' %}">{{ car.license_plate.model.make }} {{ car.license_plate.model.model }}</a></td>
            <td>{{ car.certificate_date }}</td>
            <td>{{ car.expiry_date }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>