<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Data</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th><a href="{% url 'owner' %}">Owner</a></th>
        <th>License Plate</th>
        <th><a href="{% url 'cars' %}">Model</a></th>
        <th>Certificate Date</th>
        <th>Expiry Date</th>
    </tr>
    </thead>
    <tbody>
    {% for car in page_obj %}
        <tr>
            <td><a href="{% url 'owner' car.owner.owner_id %}">{{ car.owner.name }}</a></td>
            <td>{{ car.license_plate.license_plate }}</td>
            <td><a href="{% url 'car_detail' car.license_plate.model.id %}">{{ car.license_plate.model.make }} {{ car.license_plate.model.model }}</a></td>
            <td>{{ car.certificate_date }}</td>
            <td>{{ car.expiry_date }}</td>
        </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</body>
</html>