{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}

    <h2>Hello, {{ user.username|default:'Guest' }}!</h2>

    <div>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    </div>

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <script>
        let labels = [
            {% for month in number_registered_by_month %}
                '{{ month.certificate_date__month}} -{{ month.certificate_date__year}}',
            {% endfor %}
        ]
        let data = [
            {% for month in number_registered_by_month %}
                {{ month.count }},
            {% endfor %}
        ]
        const myChart = new Chart("myChart", {
            type: "line",
            data: {
                labels: labels.slice(-12),
                datasets: [{
                    label: "Number of car registered in all area",
                    data: data.slice(-12),
                    lineTension: 0.2,
                }]
            },
            options: {}
        });
    </script>
{% endblock %}

{% block active-tab %}
    <li class="mx-12 font-semibold"><a href="{% url 'home' %}">Home</a></li>
    <li class="mx-12" tabindex="0">
        <a href="{% url 'database' %}">
            Database
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                 viewBox="0 0 24 24">
                <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/>
            </svg>
        </a>
        <ul class="p-2 bg-base-100">
            <li><a href="{% url 'owner' %}">Owner</a></li>
            <li><a href="{% url 'cars' %}">Model</a></li>
        </ul>
    </li>
    <li class="mx-12"><a href="#">Report</a></li>
{% endblock %}