{% extends "layout.html" %}

{% block title %}RegistryTotal{% endblock %}

{% block content %}
    <div class="py-6"> <!-- wrapper -->
        <div class="md:flex mb-10">
            <div class="md:w-1/2">
                <canvas id="myChart" class="h-5/6"></canvas>
            </div>

            <div class="md:w-1/2">
                <canvas id="myChart2" class="h-5/6"></canvas>
            </div>
        </div>

        <a href="{% url 'register-certificate' %}">Register new car (for normal user)</a>
        <br>
        <a href="{% url 'upload' %}">Upload file (for admin)</a>
    </div>
    <script>
        let ctx = document.getElementById('myChart');
        $.ajax({
            url: '{% url 'report_month' %}',
            type: "GET",
            data: {
                'select': "default",
            },
            success: function (data) {
                myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: data.labels,
                        datasets: [
                            {
                                label: data.label,
                                data: data.data,
                                lineTension: 0.2,
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        aspectRatio: 1,
                        maintainAspectRatio: false
                    }
                });
            }
        });

        const ctx2 = document.getElementById('myChart2');
        $.ajax({
            url: '{% url 'report_expire' %}',
            type: "GET",
            data: {
                'select': "default",
            },
            success: function (data) {
                myChart = new Chart(ctx2, {
                    type: "line",
                    data: {
                        labels: data.labels,
                        datasets: [
                            {
                                label: data.label,
                                data: data.data,
                                lineTension: 0.2,
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        aspectRatio: 1,
                        maintainAspectRatio: false
                    }
                });
            }
        });
    </script>
{% endblock %}