<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title id="title">{% block title %} {% endblock %}</title>
    <style>
        *::-webkit-scrollbar {
            display: none;
        }

        .chart-container {
            height: calc(100vh - 112px);
        }

        .report-chart-container {
            height: calc(100vh - 175px);
        }

        @media (min-width: 1024px) {
            .card-width {
                width: 273px;
            }

        }
        .card-height {
                height: 245px;
            }

    </style>
</head>
<body class="text-base-content bg-base-200">
<script src="{% static 'js/loading.js' %}"></script>
<div class="drawer"> <!-- root container -->
    <input id="my-drawer" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content flex flex-col"> <!-- content wrapper -->

        <div class="overflow-x-hidden">
            {% if user.is_authenticated %}
                <div> <!-- navbar -->
                    <div class="navbar bg-base-100 max-h-16 relative">
                        <a class="hidden md:flex px-12 navbar-tab {% if request.path == '/' %} font-semibold{% endif %}"
                           hx-get="{% url 'home' %}" hx-push-url="true" hx-target="#main-content"
                           hx-swap="innerHTML" href="{% url 'home' %}">
                            <img class="h-16" src="{% static "logo.png" %}" alt="">
                            <h1 class="absolute left-28 pl-2">RegistryTotal</h1>
                        </a>
                        <div class="hidden md:flex ml-20 lg:ml-28">
                            <ul class="menu menu-horizontal px-1 pl-2">
                                <li class="mx-8 lg:mx-12" tabindex="0">
                                    <a class="navbar-tab {% if '/database/' in request.path %} font-semibold{% endif %}"
                                       hx-get="{% url 'database' %}" hx-push-url="true"
                                       hx-target="#main-content" hx-swap="innerHTML" href="{% url 'database' %}">
                                        <span>Database</span>
                                    </a>
                                </li>
                                <li class="mx-8 lg:mx-12">
                                    <a class="navbar-tab{% if '/report/' in request.path %} font-semibold{% endif %}"
                                       hx-get="{% url 'report' %}" hx-push-url="true" hx-target="#main-content"
                                       hx-swap="innerHTML" href="{% url 'report' %}">
                                        <span>Report</span></a>
                                </li>
                            </ul>
                        </div>

                        <!-- visible on small screen -->
                        <label for="my-drawer" class="md:hidden btn btn-square btn-ghost absolute">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 class="inline-block w-6 h-6 stroke-current">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </label>

                        <div class="md:hidden mx-auto">
                            <a hx-get="{% url 'home' %}" hx-push-url="true" hx-target="#main-content"
                               hx-swap="innerHTML" href="{% url 'home' %}"><img class="h-16"
                                                                                src="{% static "logo.png" %}"
                                                                                alt=""></a>
                        </div>

                        <!-- profile btn -->
                        <div class="hidden md:flex absolute right-8">
                            <div>
                                <div class="dropdown px-10">
                                    <label tabindex="0" class="btn btn-ghost btn-circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
                                        </svg>
                                    </label>
                                    <ul tabindex="0"
                                        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-44 shadow-lg">
                                        <div class="border-b border-base-200 text-sm px-4 py-2 relative">
                                            Dark mode
                                            <input id="dark-mode-navbar" type="checkbox"
                                                   class="toggle absolute right-2 bottom-2"
                                                   onchange="darken()"/>
                                        </div>
                                        {% if perms.UserManagement.add_user %}
                                            <li><a hx-get="{% url 'register' %}" hx-push-url="true"
                                                   hx-target="#main-content" hx-swap="innerHTML"
                                                   href="{% url 'register' %}">Register User</a></li>
                                        {% endif %}
                                        <li><a class="text-red-400" href="{% url 'logout' %}">Log out</a></li>
                                    </ul>
                                </div>
                            </div>
                            <span class="text-right mr-10">{{ user.username }}</span>
                        </div>
                    </div>
                </div>
            {% endif %} <!-- end navbar -->

            <script src="{% static 'js/theme_switch.js' %}"></script>

            <!------- MAIN CONTENT ------->
            <main class="content-height">
                <div id="messages">
                    {% include 'partials/toast.html' %}
                </div>
                <div id="main-content" class="px-5 md:px-16 pt-6 overflow-x-auto h-full">
                    {% block content %}{% endblock %}
                </div>
            </main>
            <!------- END MAIN CONTENT ------->
        </div>
    </div>
    <!-- end drawer content -->

    <div class="drawer-side md:hidden">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-60 bg-base-100 text-base-content">
            <!-- Sidebar content here -->
            <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl mb-5">
                Registry Total
            </h1>
            <div class="flex pb-3 border-b border-base-200 pl-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
                </svg>

                <span class="text-right ml-3">{{ user.username }}</span>
            </div>

            <div class="border-b border-base-200 text-sm px-4 py-2 relative">
                <div class="flex py-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"/>
                    </svg>
                    <span class="text-base ml-3">Dark mode</span>
                    <input id="dark-mode-sidebar" type="checkbox"
                           class="toggle absolute right-2 bottom-4"
                           onchange="darken()"/>
                </div>
            </div>

            <li tabindex="0">


                <a class="navbar-tab{% if request.path == '/' %} font-semibold{% endif %}" hx-get="{% url 'home' %}"
                   hx-push-url="true" hx-target="#main-content"
                   hx-swap="innerHTML"
                   href="{% url 'home' %}">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
                        </svg>
                        <span class="ml-3">Home</span>
                    </div>
                </a>

            </li>
            <li tabindex="0">


                <a class="navbar-tab{% if '/database/' in request.path %} font-semibold{% endif %}"
                   hx-get="{% url 'database' %}" hx-push-url="true"
                   hx-target="#main-content" hx-swap="innerHTML"
                   href="{% url 'database' %}">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125"/>
                        </svg>

                        <span class="ml-3">Database</span>
                    </div>
                </a>
            </li>
            <li>

                <a class="navbar-tab{% if '/report/' in request.path %} font-semibold{% endif %}"
                   hx-get="{% url 'report' %}" hx-push-url="true" hx-target="#main-content"
                   hx-swap="innerHTML"
                   href="{% url 'report' %}">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z"/>
                        </svg>

                        <span class="ml-3">Report</span></div>
                </a>

            </li>
            <span class="border-b border-base-200"></span>

            {% if perms.UserManagement.add_user %}
                <li>


                    <a hx-get="{% url 'register' %}" hx-push-url="true" hx-target="#main-content"
                       hx-swap="innerHTML"
                       href="{% url 'register' %}">
                        <div class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"/>
                            </svg>
                            <span class="ml-3">Register User</span>
                        </div>
                    </a>

                </li>
            {% endif %}
            <li>


                <a class="text-red-400" href="{% url 'logout' %}">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="#f06967" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"/>
                        </svg>
                        <span class="ml-3">Log out</span>
                    </div>
                </a>

            </li>

        </ul>
    </div>
    <!-- trigger loading upload result -->
    <div hx-get="{% url "upload-result" %}" hx-push-url="true" hx-target="#main-content"
         hx-trigger="upload-result from:body"></div>
</div>
<script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/switcher_toggle.js' %}"></script>
</body>
</html>