<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    {% load tailwind_filters %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
</head>
<body class="text-gray-600 bg-gray-100">

<main class="md:px-16 overflow-x-auto">
    <header>
        {% block messages %}
            {% if messages %}
                {% for message in messages %}
                    <div id="message"
                         class='z-10 fixed bottom-5 left-5 flex items-center w-full max-w-sm p-4 mb-4 text-gray-500 bg-base-100 rounded-lg shadow-xl
                          alert {% if message.tags %}alert-{{ message.tags }}{% endif %}'>
                        {{ message }}
                        {% if message.tags == 'success' %}
                            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Check icon</span>
                            </div>
                        {% elif message.tags == 'error' %}
                            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Error icon</span>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock %}



        <div class="flex flex-col items-center justify-center px-6 py-0 mx-auto h-screen"> <!-- wrapper -->
            <img class="h-16" src="{% static "logo.png" %}">
            <h1 class="mb-6 text-2xl font-semibold">Registry Total</h1>

            <!-- form wrapper -->
            <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md p-10">
                <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl ">
                    Login to your account
                </h1>

                <form class="space-y-4 md:space-y-6" method="post">
                    {% csrf_token %}
                    {{ form.username|as_crispy_field }}
                    {{ form.password|as_crispy_field }}
                    <button class=" w-full h-fit btn btn-primary">
                        <input class="h-fit" type="submit" value="Login">
                    </button>
                </form>
            </div>
        </div>
    </header>
    <script>
        let message_ele = document.getElementById("message");

        setTimeout(function () {
            message_ele.style.display = "none";
        }, 3000);
    </script>
</main>
