{% extends "database.html" %}

{% block title %}Owner{% endblock %}

{% block table %}
    <table class="table w-full">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        {% for owner in page_obj %}
            <tr class="hover">
                <td>{{ owner.name }}</td>
                <td>{{ owner.type }}</td>
                <td>{{ owner.phone }}</td>
                <td>
                    <div>
                        <div>{{ owner.address }}</div>
                        <div class="font-bold">{{ owner.city_province }}</div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}