{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block navbar %}
        {% if user.is_authenticated %}
            {% block searchbar %}
                <input type="text" placeholder="Search..">
            {% endblock %}
            <a href="{% url 'logout' %}">Logout</a>
            {% if perms.UserManagement.add_user %}
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
            <a class="active" href="{% url 'display' %}">Display</a>
        {% endif %}
    {% endblock %}

{% block content %}
    <table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Phone</th>
        <th>Address</th>
        <th>City Province</th>
    </tr>
    </thead>
    <tbody>
    {% for owner in owners|slice:":10" %}
        <tr>
            <td>{{ owner.name }}</td>
            <td>{{ owner.type }}</td>
            <td>{{ owner.phone }}</td>
            <td>{{ owner.address }}</td>
            <td>{{ owner.city_province }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}