{% extends "database.html" %}

{% block title %}Register Data{% endblock %}

{% block table %}

    <div class="center-block">
        <table class="table w-full">
            <thead>
            <tr class="hover">
                <th><a href="{% url 'owner' %}">Owner</a></th>
                <th>License Plate</th>
                <th><a href="{% url 'cars' %}">Model</a></th>
                <th>Certificate Date</th>
                <th>Expiry Date</th>
                <th>City / Province registered</th>
            </tr>
            </thead>
            <tbody>
            {% for car in page_obj %}
                <tr class="hover">
                    <td><a href="{% url 'owner' car.owner.owner_id %}">{{ car.owner.name }}</a></td>
                    <td>{{ car.license_plate.license_plate }}</td>
                    <td>
                        <a href="{% url 'car_detail' car.license_plate.model.id %}">{{ car.license_plate.model.make }} {{ car.license_plate.model.model }}</a>
                    </td>
                    <td>{{ car.certificate_date }}</td>
                    <td>{{ car.expiry_date }}</td>
                    <td>{{ car.register_center.city_province }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}