{% extends "layout.html" %}

{% load static %}
{% load tailwind_filters %}

{% block title %}Report{% endblock %}

{% block content %}
    <div id="loading-circle"
         class="absolute z-20 opacity-70 left-1/2 top-1/2 place-items-center h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
         role="status" style="visibility: hidden">
    </div>
    <div class="lg:flex justify-between items-end">
        <div class="tabs tabs-boxed pb-3 lg:pb-0">
            <div class="mb-3 sm:mb-0">
                <button value='{% url "report_month" %}' class="tab sm:tab-lg text-base tab-active">Month</button>
                <button value='{% url "report_year" %}' class="tab sm:tab-lg text-base">Year</button>
                <button value='{% url "report_quarter" %}' class="tab sm:tab-lg text-base">Quarter</button>
                <button value='{% url "report_expire" %}' class="tab sm:tab-lg text-base">Expire</button>
            </div>
            <button class="mb-3 sm:mb-0 btn btn-sm sm:btn-md" id="predict" onclick="predict()">Predict</button>
        </div>

        <form method="get">
            <div class="form-control max-w-xs pb-3">
                {#                <label class="label">#}
                {#                    <span class="label-text">Option</span>#}
                {#                </label>#}
                <select class="select w-full max-w-xs" name="select" onchange=""
                        {% if not perms.UserManagement.add_user %}disabled{% endif %}>
                    <option value="default">All areas</option>
                    <option disabled>City</option>
                    {% for city in cities %}
                        <option value="{{ city }}">{{ city }}</option>
                    {% endfor %}
                    <option disabled>Register Center</option>
                    {% for center in register_centers %}
                        <option value="{{ center }}">Trung tâm {{ center }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <div class="report-chart-container">
        <canvas id="myChart" height="440" width="600"></canvas>
    </div>

    <script>
        var select = $(".select");
        select.val("{{ select }}");
    </script>
    <script src="{% static 'js/report.js' %}"></script>
{% endblock %}