{% extends "layout.html" %}
{% load static %}
{% load tailwind_filters %}

{% block title %}Report{% endblock %}

{% block content %}
    Add to sidebar:
    <a href="{% url "report_month" %}">Month</a>
    <a href="{% url "report_year" %}">Year</a>
    <a href="{% url "report_quarter" %}">Quarter</a>
    <a href="{% url "report_expire" %}">Expire</a>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <form method="get">
        <div class="form-control max-w-xs">
            <label class="label">
                <span class="label-text">Option</span>
            </label>
            <select class="select w-full max-w-xs" name="select" onchange="this.form.submit()"
                    {% if not perms.UserManagement.add_user %}disabled{% endif %}>
                <option value="default">All areas</option>
                <option disabled>City</option>
                {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
                <option disabled>Register Center</option>
                {% for center in register_centers %}
                    <option value="{{ center }}">Trung tâm {{ center }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
    <div class="h-2/3">
        <canvas id="myChart"></canvas>
    </div>
    {% block graph %}{% endblock %}
    <script>
        let select = document.querySelector('select');
        select.value = "{{ select }}";
    </script>
{% endblock %}